#!/bin/bash

set -e

### EDit these variables BEFORE running
export NANOPORE_FASTQ=/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/data/21029_bar6_wt.fastq.gz
export GENOME=/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/test/s288c_telomere_reference.fa

# Assembly global options
export CANU_OUTPATH=$PWD/canu_assembly
export DATASET_SPLIT_COVERAGE=60

# Telomere length options
# export TELOTAG5=CAGTCTACACATATTCTCTGT
# export TELOTAG3=ACAGAGAATATGTGTAGACTG
export TELOTAG=ACAGAGAATATGTGTAGACTG
export TELOMOTIF=TGTGGGTGTGGTG
# telomeric motif recongnition length
export SEED_LEN=6

# local machine thread and mem spec
export LOCAL_THREAD=4
export LOCAL_MEMORY=8

## SLURM config for canu
export SLURM_CANU_THREAD=48 # passed to slurm -n
export SLURM_CANU_MEMORY=251 # passed to slurm --mem
export SLURM_ALLOCATION=def-mundy7 # passed to slurm -A
export SLURM_WALLTIME=24:00:00 # passed to slurm --time

#software paths to exe
export SEQTK=/home/jflucier/app/seqtk/seqtk
export SEQKIT=/home/jflucier/app/seqkit
export QUICKMERGE=/home/jflucier/app/quickmerge/merge_wrapper.py
export BBMAP_STATS=/home/jflucier/app/bbmap/stats.sh
export SAMTOOLS=/home/jflucier/app/samtools-1.15/samtools
export MINIMAP2=/home/jflucier/app/minimap2/minimap2
export BEDTOOLS=/home/jflucier/app/bedtools2/bin/bedtools
export CANU=/home/jflucier/app/canu/build/bin/canu
