#!/bin/bash

### EDit these variables BEFORE running
export NANOPORE_FASTQ=/path/to/data.fastq.gz
export GENOME=/path/to/genome.fasta
# bash associative array: tag:/path/to/annotation.fasta
# for example:
# export ANNOTATION_FASTA=(
#     "Y:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/YPcompleteSequence.txt"
#     "XC:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/X_XC.txt"
#     "XCR:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/X_XCR.txt"
# )
export ANNOTATION_FASTA=(
    "tag1:/path/to/fasta1.fa"
    "tag2:/path/to/fasta2.fa"
    "tag3:/path/to/fasta3.fa"
)

# Assembly global options
export CANU_OUTPATH=$PWD/canu_assembly
export DATASET_SPLIT_COVERAGE=60

# Telomere length options
# export TELOTAG5=CAGTCTACACATATTCTCTGT
# export TELOTAG3=ACAGAGAATATGTGTAGACTG

## sholes
#export TELOTAG=AAAAAACAGAGAATATGTGTAGAC
## wellinger
export TELOTAG=ACAGAGAATATGTGTAGACTG

export TELOMOTIF=TGTGGGTGTGGTG
# telomeric motif recongnition length
export SEED_LEN=6
# minimal nucleotide telomeric stretch to be considered
export TELO_MINLEN=25
# to filter for reads with telotag inside reference chromosome sequence (filtering out pcr artifacts)
# exemple genome (see GENOME variable above) was capped with 2kb of telomeric repeats. Will tolerate finding telotag within 2200 first or last nt of refrence chromosome.
export READ_TELOTAG_EXTR_CUTOFF=2200

# local machine thread and mem spec
export LOCAL_THREAD=4
export LOCAL_MEMORY=8

## SLURM config for canu
export SLURM_CANU_THREAD=48 # passed to slurm -n
export SLURM_CANU_MEMORY=251 # passed to slurm --mem
export SLURM_ALLOCATION=def-mundy7 # passed to slurm -A
export SLURM_WALLTIME=24:00:00 # passed to slurm --time

### software paths to exe ###

#https://bioinf.shenwei.me/seqkit/
export SEQKIT=/path/to/seqkit
#https://github.com/mahulchak/quickmerge
export QUICKMERGE=/path/to/quickmerge/merge_wrapper.py
#https://sourceforge.net/projects/bbmap/
export BBMAP_STATS=/path/to/bbmap/stats.sh
#http://www.htslib.org/
export SAMTOOLS=/path/to/samtools/samtools
#https://github.com/lh3/minimap2
export MINIMAP2=/path/to/minimap2/minimap2
#https://github.com/arq5x/bedtools2/releases
export BEDTOOLS=/path/to/bedtools2/bin/bedtools
#https://github.com/marbl/canu/releases
export CANU=/path/to/canu/build/bin/canu
#http://www.clustal.org/omega/
export CLUSTALO=/path/to/clustalo
#http://hmmer.org/
export NHMMER=nhmmer
#https://hgdownload.soe.ucsc.edu/admin/exe/
export BED2BB=/path/to/userApps/bin/bedToBigBed
export FA2BIT=/path/to/userApps/bin/faToTwoBit
#https://github.com/arq5x/bedtools2/releases
export BAM2BED=/path/to/bedtools2/bin/bamToBed
#http://mummer.sourceforge.net/
export MUMMER_PATH=/path/to/MUMmer

# required for version of soft not using split fastq mode
export PYTHON27=/path/to/python27

## not needed anymore
#export SEQTK=/path/to/seqtk/seqtk
#export FINISHERSC=/nfs3_ib/ip29-ib/ip29/jflucier/service/externe/wellinger/program/finishingTool/finisherSC.py
