#!/bin/bash

### EDit these variables BEFORE running
export NANOPORE_FASTQ=/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/data/21029_bar6_wt.fastq.gz
export GENOME=/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/GCA_000146045.2_R64_genomic.fna
export ANNOTATION_FASTA=(
    "Y:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/YPcompleteSequence.txt"
    "XC:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/X_XC.txt"
    "XCR:/home/jflucier/Documents/service/externe/wellinger/20211116_subtelomere_analysis/saccer3_test/X_XCR.txt"
)

# Assembly global options
export CANU_OUTPATH=$PWD/canu_assembly
export DATASET_SPLIT_COVERAGE=60

# Telomere length options
# export TELOTAG5=CAGTCTACACATATTCTCTGT
# export TELOTAG3=ACAGAGAATATGTGTAGACTG
export TELOTAG=ACAGAGAATATGTGTAGACTG
export TELOMOTIF=TGTGGGTGTGGTG
# telomeric motif recongnition length
export SEED_LEN=6
# minimal nucleotide telomeric stretch to be considered
export TELO_MINLEN=25
# to filter for reads with telotag inside reference chromosome sequence (filtering out pcr artifacts)
# exemple genome (see GENOME variable above) was capped with 2kb of telomeric repeats. Will tolerate finding telotag within 2200 first or last nt of refrence chromosome.
export READ_TELOTAG_EXTR_CUTOFF=2200

# local machine thread and mem spec
export LOCAL_THREAD=4
export LOCAL_MEMORY=8

## SLURM config for canu
export SLURM_CANU_THREAD=48 # passed to slurm -n
export SLURM_CANU_MEMORY=251 # passed to slurm --mem
export SLURM_ALLOCATION=def-mundy7 # passed to slurm -A
export SLURM_WALLTIME=24:00:00 # passed to slurm --time

#software paths to exe
export SEQTK=/home/jflucier/app/seqtk/seqtk
export SEQKIT=/home/jflucier/app/seqkit
export QUICKMERGE=/home/jflucier/app/quickmerge/merge_wrapper.py
export BBMAP_STATS=/home/jflucier/app/bbmap/stats.sh
export SAMTOOLS=/home/jflucier/app/samtools-1.15/samtools
export MINIMAP2=/home/jflucier/app/minimap2/minimap2
export BEDTOOLS=/home/jflucier/app/bedtools2/bin/bedtools
export CANU=/home/jflucier/app/canu/build/bin/canu
export CLUSTALO=/home/jflucier/app/clustalo
export NHMMER=nhmmer
export BED2BB=/home/jflucier/app/userApps/bin/bedToBigBed
export BAM2BED=/home/jflucier/app/bedtools2/bin/bamToBed
export FA2BIT=/home/jflucier/app/userApps/bin/faToTwoBit
export MUMMER_PATH=/cvmfs/soft.mugqic/CentOS6/software/MUMmer/MUMmer3.23
export FINISHERSC=/nfs3_ib/ip29-ib/ip29/jflucier/service/externe/wellinger/program/finishingTool/finisherSC.py
export CD_HIT_EST=/nfs3_ib/ip29-ib/ip29/jflucier/service/externe/wellinger/program/cdhit/cd-hit-est
